body {
	font-family: roboto;
}

.img-border{
  height: 400px;
  width: 400px;
  border: 20px solid #000; /*rgba(0, 0, 0, 0.07);*/
  margin: 0 auto;
  border-radius: 50%;
}
.img-border img {
	border: 20px solid rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}
.fixed-top {
	padding: 10px 75px;
}
.image-bg {
  background:url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.img-color-overlay {
	background-color:  rgba(0, 0, 0, 0.9);
}
.img-color-overlay .row{
  padding: 150px 0;
}
.heading-info h2 {
	font-size: 60px;
	padding-top: 30px;
	margin: 0;
}
.heading-info h4 {
	font-size: 26px;
    letter-spacing: 2px;
    font-weight: 400;
}
.nav-link {
	color: #fff;
	font-size: 18px;
	padding-left: 2.5rem !important;
}
.navbar-nav a:hover{
  color: #0bceaf;
}
.active {
  color: #0bceaf;
}
.social-link li {
	display: inline-block;
	padding: 18px;
}
.social-link li i {
	font-size: 19px;
}
.social-link a:hover{
	color: #0bceaf;
}
.heading-info ul li {
	padding-bottom: 10px;
}
.heading-info ul li a {
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	transition: all 0.4s ease-in-out;
}
.heading-info ul li a:hover {
	color: #0bceaf;
}
.information {
	padding-top: 20px;
	margin: 0;
}
.heading-info .icon{
	color: #fff;
	padding-right: 10px;
}
.promo span {
	background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px
}
address {
	display: inline-block;
    font-size: 14px;
}
/*=================================
About start here
===================================*/
.about {
  background-color: #100E17;
}
.languages  li {
  display: inline-block;
  margin:0 10px 10px 10px;
}
.languages li span {
  border: 1px solid #0bceaf;
  padding: 4px 10px;
  border-radius: 4px
}
.about-inner p {
	font-size: 14px;
    letter-spacing: .5px;
    color: #d3d1d1;
}
.about .row {
	padding: 100px 0;
}

/*=================================
  Mediaquery
====================================*/
@media screen and (max-width: 768px) {
	.fixed-top {
		padding: 20px;
	}
	.heading-info {
		text-align: center;
	}
	.heading-info h2 {
		font-size: 45px;
		padding-top: 10px;
	}
	.information {
		padding-top: 10px;
	}
	.navbar-nav {
		background-color: #080808b8;
	}
	.content-reverse {
		order: 2;
	}
	.image-reverse {
		order: 1;
		padding-bottom: 30px;
	}
	.img-border {
		height: 320px;
		width: 320px;
	}
	.img-color-overlay .row {
		padding: 110px 0;
	}
	.navbar-toggler-icon i {
		color: #fff;
		font-size: 30px;
	}
	.navbar-nav {
		text-align: center;
	}
 }

