body {
	font-family: roboto;
}
.bg-nav{
  background:rgba(0,0,0,0.88); 	
  padding: 25px 0 30px 0;
  z-index: 1;
}
.img-border{
  height: 400px;
  width: 400px;
  border: 20px solid #000; /*rgba(0, 0, 0, 0.07);*/
  margin: 0 auto;
  border-radius: 50%;
}
.img-border img {
	border: 20px solid rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}
.fixed-top {
	padding: 10px 75px;
}
.image-bg {
  background:url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.img-color-overlay {
	background-color:  rgba(0, 0, 0, 0.9);
}
.img-color-overlay .row{
  padding: 200px 0 150px 0;
}
.heading-info h2 {
	font-size: 60px;
	padding-top: 30px;
	margin: 0;
}
.heading-info h4 {
	font-size: 26px;
    letter-spacing: 2px;
    font-weight: 400;
}
.nav-link {
	color: #fff;
	font-size: 18px;
	padding-left: 2.5rem !important;
}
.navbar-nav a:hover{
  color: #0bceaf;
}
.active {
  color: #0bceaf;
}
.social-link li {
	display: inline-block;
	padding: 18px;
}
.social-link li i {
	font-size: 19px;
}
.social-link a:hover{
	color: #0bceaf;
}
.heading-info ul li {
	padding-bottom: 10px;
}
.heading-info ul li a {
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	transition: all 0.4s ease-in-out;
}
.heading-info ul li a:hover {
	color: #0bceaf;
}
.information {
	padding-top: 20px;
	margin: 0;
}
.heading-info .icon{
	color: #fff;
	padding-right: 10px;
}
.promo span {
	background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px
}
address {
	display: inline-block;
    font-size: 14px;
}
/*=================================
About start here
===================================*/
.bg-color {
  background-color: #100E17;
}
.heading-color {
  color: #d3d1d1;
}
.languages  li {
  display: inline-block;
  margin:0 0 15px 5px;
}
.languages li span {
  border: 1px solid #0bceaf;
  padding: 4px 10px;
  border-radius: 4px
}
.description {
	font-size: 14px;
    letter-spacing: .5px;
    color: #d3d1d1;
    line-height: 27px;
}
.about .row {
	padding: 100px 0;	
}
/*=================================
  Services Start here
===================================*/
.services {
	background-color: #100e17;
}
.inner-bg-color {
	background-color: #1E1E24;
}
.services  .row {
	padding: 100px 0;	
}
.mb-60 {
	margin-bottom: 60px;
}
.box-shadow{
  padding: 20px;
  box-shadow: -1rem 0 3rem #000;
  margin-bottom: 20px;
}
.service-item i {
	font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}
.purple-color {
	color:#9774fa;	
}
.iron-color {
	color: #ed7256
}
/*=================================
 Conatct page start here
===================================*/
.cnt-page .map-image {
    background-image: url(../images/map-color-overlay.png);
    }
.cnt-page a:hover {
  color: #0bceaf;
  transition: all 0.4s ease-in-out;
}
.cnt-page .fas {
	text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 100px;
    font-size: 20px;
    border-color: #0bceaf;
    color: #d3d1d1;
}
 .address-info{
	padding-left: 40px;
}
[placeholder] {
	background-color: transparent;	
	margin-bottom: 20px;
	padding: 25px;
	font-weight: bold;

}
.cnt-message {
	border-radius: 4px;
	width: 100%;
}
.form-control {
	background-color: transparent! important;
}
.btn {
	background-color: #0bceaf;
	width: 100%
}
.cnt-page button {
  border-radius: 20px;
  color: #fff;
  margin-bottom: 20px;
}
/*=================================
  Mediaquery
====================================*/
@media screen and (max-width: 768px) {
	.fixed-top {
		padding: 5px 10px;
	}
	.heading-info {
		text-align: center;
	}
	.heading-info h2 {
		font-size: 45px;
		padding-top: 20px;
	}
	.information {
		padding-top: 10px;
	}
	.navbar-nav {
		background-color: #080808b8;
	}
	.content-reverse {
		order: 2;
	}
	.image-reverse {
		order: 1;
		padding-bottom: 30px;
	}
	.img-border {
		height: 320px;
		width: 320px;
	}
	.img-color-overlay .row {
		padding: 100px 0 60px 0;
	}
	.navbar-toggler-icon i {
		color: #fff;
		font-size: 30px;
	}
	.navbar-nav {
		text-align: center;
	}
	/*=================================
About start here
===================================*/
  .about .row {
  	text-align: center;
  }
  .about-inner {
  	padding-top: 20px;
  }
 }



